/* Override global theme constants or define new ones here */

$v-focus-color: #10da10;

$v-selection-color: rgb(77, 179, 77);

$cuba-hover-color: #d3f8d3;

$v-selection-item-selection-color: #4db34d;

$cuba-table-aggregation-background-color: rgb(177, 246, 177);

$cuba-datagrid-aggregation-background-color: rgb(177, 246, 177);

$cuba-tabsheet-tab-border-selected-color: #9cd39c;

$cuba-menubar-background-color: #317731;

$cuba-menubar-border-color: #317731;